body {
    font-family: Roboto, Verdana, sans-serif;

    display: flex;
    flex-direction: column;
}

.header,
.footer,
.section.one {
    background-color: #1F2937;
}

.section.three {
    background-color: #E5E7EB;
}

.section.four div {
    background-color: #3882F6;
}



.header {
    display: flex;
    justify-content: space-between;
    padding: 8px 128px;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header .links {
    display: flex;
    list-style: none;
    gap: 16px;
    margin: 0;
}

.header .links a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}



.section.one {
    display: flex;
    padding: 64px 128px;
}

.section.one .left-side {
    flex: 1;
}

.section.one .title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8
}

.section.one .subtext {
    margin: -8px 0 8px 0;

    font-size: 18px;
    color: #E5E7EB;
}

.section.one button {
    border: none;
    border-radius: 4px;

    padding: 4px 16px;

    background-color: #3882F6;
    color: #F9FAF8;
}

.section.one .right-side {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: gray;
    color: white;
}



.section.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    padding: 16px 128px;
}

.section.two .title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.section.two .card-container {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.section.two .card {
    flex: 0;

    margin-bottom: 64px;

    font-size: 18px;
    color: #1F2937;
}

.section.two .card-image {
    width: 200px;
    height: 200px;

    border: 4px solid #3882F6;
    border-radius: 8px;
}